In [1]:
import os
os.environ['IGNORE_WARNINGS'] = '0'
os.environ['DB_URL'] = 'mysql+mysqlconnector://read:1234@127.0.0.1:3306/quant'

In [2]:
from jdw import EntropyAPI
from jdw.kdutils.file_utils import load_pickle
from ultron.sentry.api import *

/work/env/neutron/lib/python3.7/site-packages/Finance_Jindowin-1.2.4-py3.7.egg/jdw/__init__.py:11: UserWarning: if use distributed calculating, please configure MQ_URL
  warnings.warn('if use distributed calculating, please configure MQ_URL')
/work/env/neutron/lib/python3.7/site-packages/Finance_Jindowin-1.2.4-py3.7.egg/jdw/__init__.py:15: UserWarning: if use distributed calculating, please configure NTN_URL
  warnings.warn('if use distributed calculating, please configure NTN_URL')
/work/env/neutron/lib/python3.7/site-packages/Finance_Jindowin-1.2.4-py3.7.egg/jdw/__init__.py:19: UserWarning: if use memory database, please configure KN_MG
  warnings.warn('if use memory database, please configure KN_MG')
/work/env/neutron/lib/python3.7/site-packages/Finance_Jindowin-1.2.4-py3.7.egg/jdw/__init__.py:27: UserWarning: if use trader, please configure ATL_URL
  warnings.warn('if use trader, please configure ATL_URL')
/work/env/neutron/lib/python3.7/site-packages/Finance_Jindowin-1.2.4-py3.7.egg/jdw/__init__.py:31: UserWarning: if use trader, please configure IREY_URL
  warnings.warn('if use trader, please configure IREY_URL')

In [3]:
factors_data = load_pickle('factors.h5')
factors_data.head()

,trade_date,CCI10,ROC20,RSI,VOL240,aiDaNp60,aiDaPE60,aiEtopZ180,aiSude,hkHoldRatioAll,hkHoldRatioB,hkHoldVolChgB120,lpnpQ,code
0,2021-03-01,-92.3760,-4.6243,20.6704,0.0061,0.5981,0.3060,1.5060,10.0528,10.3092,2.5879,18.9855,-0.2538,000001
1,2021-03-01,130.4650,13.5899,90.0293,0.0086,0.1124,-0.0446,-1.5296,-3.2607,6.5233,2.2121,12.8189,0.1523,000002
2,2021-03-01,-65.5586,-10.1681,56.9712,0.0243,0.3891,0.3139,0.8330,-0.2638,1.5967,0.1913,-36.4546,-0.3430,000063
3,2021-03-01,119.5430,-6.8170,63.2887,0.0300,0.1860,0.2110,1.1419,-1.7645,1.4818,0.3724,-48.5819,-0.3287,000066
4,2021-03-01,43.3794,18.6217,80.9278,0.0073,0.0776,-0.0589,-1.0135,-14.3274,2.7526,0.6946,82.6065,-0.3225,000069

In [4]:
begin_date = factors_data['trade_date'].min()
end_date = factors_data['trade_date'].max()

In [7]:
universe = 'hs300'
benchmark = '000905'
dummy_name = 'dummy_test_f1r_open'
industry_level = 1
industry_name = 'sw'
thresh = 0.8

In [8]:
factor_columns = [
    col for col in factors_data.columns if col not in [
        'trade_date','code']]

In [9]:
industry_styles = [
    'Bank', 'RealEstate', 'Health', 'Transportation', 'Mining', 'NonFerMetal',
    'HouseApp', 'LeiService', 'MachiEquip', 'BuildDeco', 'CommeTrade',
    'CONMAT', 'Auto', 'Textile', 'FoodBever', 'Electronics', 'Computer',
    'LightIndus', 'Utilities', 'Telecom', 'AgriForest', 'CHEM', 'Media',
    'IronSteel', 'NonBankFinan', 'ELECEQP', 'AERODEF', 'Conglomerates'
]

In [10]:
configure = {
    'invalid_codes': [],
    'effective_codes': industry_styles,
    'turn_over_target': 0.06,
    'target_vol': 0.06,
    'lbound': 0.0,
    'ubound': 0.2,
    'benchmark_lower': 0.8,
    'benchmark_upper': 1.0,
    'total_lower': 0.9,
    'total_upper': 1.0,
    'effective_industry_lower': 0.0,  ## 有效行业下限
    'effective_industry_upper': 0.1,  ## 有效行业上限
    'invalid_industry_lower': 0.0,  ## 无效行业下限
    'invalid_industry_upper': 0.1,  ## 无效行业上限
    'riskstyle_lower': 0.0,
    'riskstyle_upper': 0.1,
    'method': 'long_risk_neutral'
}

In [11]:
stock_engine = EntropyAPI.StockDendall(universe=universe,
                                       benchmark=benchmark,
                                       industry_level=industry_level,
                                       industry_name=industry_name,
                                       factor_columns=factor_columns)

In [24]:
index_returns = stock_engine.index_yields(begin_date=begin_date,
                                             end_date=end_date)

In [13]:
factor_model, _, risk_exp = stock_engine.create_riskmodel(
            begin_date=begin_date,
            end_date=end_date,
            universe=stock_engine._universe_class(u_name=stock_engine._universe))

2023-03-27 17:27:15,907 - ultron - INFO - start create risk model data

In [14]:
component_data = stock_engine.create_component(begin_date=begin_date,
                                               end_date=end_date,
                                               universe=stock_engine._universe)

2023-03-27 17:27:44,930 - ultron - INFO - start create component data

In [15]:
industry_data = stock_engine.fetch_industry(
            begin_date=begin_date,
            end_date=end_date,
            universe=stock_engine._universe_class(
                u_name=stock_engine._universe))

2023-03-27 17:27:57,634 - ultron - INFO - start fetch industry data

In [16]:
yields_data = stock_engine.fetch_yields(
            begin_date=begin_date,
            end_date=end_date,
            universe=stock_engine._universe_class(
                u_name=stock_engine._universe))

2023-03-27 17:28:15,101 - ultron - INFO - start create yields data

In [17]:
total_data = stock_engine.merge(industry_data=industry_data,
                                component_data=component_data)

In [18]:
total_data = total_data.merge(risk_exp, on=['trade_date', 'code'])

In [27]:
total_data = total_data.merge(yields_data,
                                      on=['trade_date', 'code'],
                                      how='left')
total_data.head()

,trade_date,code,weight,industry_code,industry,1030301,1030302,1030303,1030304,1030305,...,VOL240,aiDaNp60,aiDaPE60,aiEtopZ180,aiSude,hkHoldRatioAll,hkHoldRatioB,hkHoldVolChgB120,lpnpQ,nxt1_ret
0,2021-03-01,000001,0.01032,1030321,银行,0,0,0,0,0,...,0.0061,0.5981,0.3060,1.5060,10.0528,10.3092,2.5879,18.9855,-0.2538,0.009257
1,2021-03-01,000002,0.01121,1030320,房地产,0,0,0,0,0,...,0.0086,0.1124,-0.0446,-1.5296,-3.2607,6.5233,2.2121,12.8189,0.1523,-0.001802
2,2021-03-01,000063,0.00427,1030327,通信,0,0,0,0,0,...,0.0243,0.3891,0.3139,0.8330,-0.2638,1.5967,0.1913,-36.4546,-0.3430,0.002497
3,2021-03-01,000066,0.00151,1030325,计算机,0,0,0,0,0,...,0.0300,0.1860,0.2110,1.1419,-1.7645,1.4818,0.3724,-48.5819,-0.3287,-0.007931
4,2021-03-01,000069,0.00165,1030320,房地产,0,0,0,0,0,...,0.0073,0.0776,-0.0589,-1.0135,-14.3274,2.7526,0.6946,82.6065,-0.3225,-0.001201

In [19]:
factors_data = stock_engine.industry_fillna(
            industry_data=industry_data,
            factors_data=factors_data).fillna(0)
factors_data = factors_data.sort_values(by=['trade_date', 'code'])

In [21]:
total_data = total_data.merge(factors_data, on=['trade_date', 'code'])

In [22]:
total_data.head()

,trade_date,code,weight,industry_code,industry,1030301,1030302,1030303,1030304,1030305,...,RSI,VOL240,aiDaNp60,aiDaPE60,aiEtopZ180,aiSude,hkHoldRatioAll,hkHoldRatioB,hkHoldVolChgB120,lpnpQ
0,2021-03-01,000001,0.01032,1030321,银行,0,0,0,0,0,...,20.6704,0.0061,0.5981,0.3060,1.5060,10.0528,10.3092,2.5879,18.9855,-0.2538
1,2021-03-01,000002,0.01121,1030320,房地产,0,0,0,0,0,...,90.0293,0.0086,0.1124,-0.0446,-1.5296,-3.2607,6.5233,2.2121,12.8189,0.1523
2,2021-03-01,000063,0.00427,1030327,通信,0,0,0,0,0,...,56.9712,0.0243,0.3891,0.3139,0.8330,-0.2638,1.5967,0.1913,-36.4546,-0.3430
3,2021-03-01,000066,0.00151,1030325,计算机,0,0,0,0,0,...,63.2887,0.0300,0.1860,0.2110,1.1419,-1.7645,1.4818,0.3724,-48.5819,-0.3287
4,2021-03-01,000069,0.00165,1030320,房地产,0,0,0,0,0,...,80.9278,0.0073,0.0776,-0.0589,-1.0135,-14.3274,2.7526,0.6946,82.6065,-0.3225

In [28]:
metrics, returns, positions = stock_engine.calculate_result(
            total_data=total_data,
            factor_model=factor_model,
            begin_date=begin_date,
            end_date=end_date,
            configure=configure,
            index_returns=index_returns)

2023-03-27 17:31:29,792 - ultron - INFO - starting re-balance ...
2023-03-27 17:31:29,822 - ultron - INFO - running setting finished ...
2023-03-27 17:31:29,823 - ultron - INFO - running setting finished ...
2023-03-27 17:31:29,843 - ultron - INFO - alpha models training finished ...
2023-03-27 17:31:29,860 - ultron - INFO - 2021-03-01 00:00:00 re-balance: 300 codes
2023-03-27 17:31:29,907 - ultron - INFO - 2021-03-02 00:00:00 re-balance: 300 codes
2023-03-27 17:31:29,966 - ultron - INFO - 2021-03-03 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,022 - ultron - INFO - 2021-03-04 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,082 - ultron - INFO - 2021-03-05 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,142 - ultron - INFO - 2021-03-08 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,204 - ultron - INFO - 2021-03-09 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,271 - ultron - INFO - 2021-03-10 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,340 - ultron - INFO - 2021-03-11 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,402 - ultron - INFO - 2021-03-12 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,462 - ultron - INFO - 2021-03-15 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,522 - ultron - INFO - 2021-03-16 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,581 - ultron - INFO - 2021-03-17 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,633 - ultron - INFO - 2021-03-18 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,694 - ultron - INFO - 2021-03-19 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,757 - ultron - INFO - 2021-03-22 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,817 - ultron - INFO - 2021-03-23 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,870 - ultron - INFO - 2021-03-24 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,931 - ultron - INFO - 2021-03-25 00:00:00 re-balance: 300 codes
2023-03-27 17:31:30,992 - ultron - INFO - 2021-03-26 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,053 - ultron - INFO - 2021-03-29 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,114 - ultron - INFO - 2021-03-30 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,168 - ultron - INFO - 2021-03-31 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,230 - ultron - INFO - 2021-04-01 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,292 - ultron - INFO - 2021-04-02 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,354 - ultron - INFO - 2021-04-06 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,408 - ultron - INFO - 2021-04-07 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,468 - ultron - INFO - 2021-04-08 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,530 - ultron - INFO - 2021-04-09 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,592 - ultron - INFO - 2021-04-12 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,653 - ultron - INFO - 2021-04-13 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,715 - ultron - INFO - 2021-04-14 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,777 - ultron - INFO - 2021-04-15 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,839 - ultron - INFO - 2021-04-16 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,896 - ultron - INFO - 2021-04-19 00:00:00 re-balance: 300 codes
2023-03-27 17:31:31,958 - ultron - INFO - 2021-04-20 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,019 - ultron - INFO - 2021-04-21 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,081 - ultron - INFO - 2021-04-22 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,134 - ultron - INFO - 2021-04-23 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,197 - ultron - INFO - 2021-04-26 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,260 - ultron - INFO - 2021-04-27 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,326 - ultron - INFO - 2021-04-28 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,384 - ultron - INFO - 2021-04-29 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,448 - ultron - INFO - 2021-04-30 00:00:00 re-balance: 300 codes
2023-03-27 17:31:32,503 - ultron - INFO - starting backting ...
2023-03-27 17:31:32,529 - ultron - INFO - 2021-03-01 00:00:00: turn over 1.0, returns -0.0104
2023-03-27 17:31:32,544 - ultron - INFO - 2021-03-02 00:00:00: turn over 0.06, returns 0.0053
2023-03-27 17:31:32,558 - ultron - INFO - 2021-03-03 00:00:00: turn over 0.06, returns -0.0323
2023-03-27 17:31:32,570 - ultron - INFO - 2021-03-04 00:00:00: turn over 0.06, returns -0.0031
2023-03-27 17:31:32,584 - ultron - INFO - 2021-03-05 00:00:00: turn over 0.06, returns -0.0291
2023-03-27 17:31:32,599 - ultron - INFO - 2021-03-08 00:00:00: turn over 0.06, returns -0.0094
2023-03-27 17:31:32,614 - ultron - INFO - 2021-03-09 00:00:00: turn over 0.06, returns -0.0189
2023-03-27 17:31:32,628 - ultron - INFO - 2021-03-10 00:00:00: turn over 0.06, returns 0.0254
2023-03-27 17:31:32,643 - ultron - INFO - 2021-03-11 00:00:00: turn over 0.06, returns -0.01
2023-03-27 17:31:32,657 - ultron - INFO - 2021-03-12 00:00:00: turn over 0.06, returns 0.0018
2023-03-27 17:31:32,672 - ultron - INFO - 2021-03-15 00:00:00: turn over 0.06, returns -0.0001
2023-03-27 17:31:32,687 - ultron - INFO - 2021-03-16 00:00:00: turn over 0.06, returns -0.0044
2023-03-27 17:31:32,701 - ultron - INFO - 2021-03-17 00:00:00: turn over 0.06, returns 0.0048
2023-03-27 17:31:32,716 - ultron - INFO - 2021-03-18 00:00:00: turn over 0.06, returns -0.0174
2023-03-27 17:31:32,730 - ultron - INFO - 2021-03-19 00:00:00: turn over 0.06, returns 0.0102
2023-03-27 17:31:32,745 - ultron - INFO - 2021-03-22 00:00:00: turn over 0.06, returns -0.0193
2023-03-27 17:31:32,759 - ultron - INFO - 2021-03-23 00:00:00: turn over 0.06, returns -0.0251
2023-03-27 17:31:32,774 - ultron - INFO - 2021-03-24 00:00:00: turn over 0.06, returns -0.0016
2023-03-27 17:31:32,789 - ultron - INFO - 2021-03-25 00:00:00: turn over 0.06, returns 0.0295
2023-03-27 17:31:32,803 - ultron - INFO - 2021-03-26 00:00:00: turn over 0.06, returns -0.0105
2023-03-27 17:31:32,817 - ultron - INFO - 2021-03-29 00:00:00: turn over 0.06, returns 0.0074
2023-03-27 17:31:32,832 - ultron - INFO - 2021-03-30 00:00:00: turn over 0.06, returns -0.0199
2023-03-27 17:31:32,846 - ultron - INFO - 2021-03-31 00:00:00: turn over 0.06, returns 0.0097
2023-03-27 17:31:32,861 - ultron - INFO - 2021-04-01 00:00:00: turn over 0.06, returns 0.0066
2023-03-27 17:31:32,875 - ultron - INFO - 2021-04-02 00:00:00: turn over 0.06, returns 0.0093
2023-03-27 17:31:32,890 - ultron - INFO - 2021-04-06 00:00:00: turn over 0.06, returns 0.02
2023-03-27 17:31:32,904 - ultron - INFO - 2021-04-07 00:00:00: turn over 0.06, returns -0.0058
2023-03-27 17:31:32,918 - ultron - INFO - 2021-04-08 00:00:00: turn over 0.06, returns 0.0003
2023-03-27 17:31:32,932 - ultron - INFO - 2021-04-09 00:00:00: turn over 0.06, returns -0.0547
2023-03-27 17:31:32,946 - ultron - INFO - 2021-04-12 00:00:00: turn over 0.06, returns -0.0121
2023-03-27 17:31:32,961 - ultron - INFO - 2021-04-13 00:00:00: turn over 0.06, returns 0.0284
2023-03-27 17:31:32,975 - ultron - INFO - 2021-04-14 00:00:00: turn over 0.06, returns 0.0018
2023-03-27 17:31:32,990 - ultron - INFO - 2021-04-15 00:00:00: turn over 0.06, returns 0.0029
2023-03-27 17:31:33,004 - ultron - INFO - 2021-04-16 00:00:00: turn over 0.06, returns 0.0313
2023-03-27 17:31:33,019 - ultron - INFO - 2021-04-19 00:00:00: turn over 0.06, returns -0.0154
2023-03-27 17:31:33,033 - ultron - INFO - 2021-04-20 00:00:00: turn over 0.06, returns 0.0014
2023-03-27 17:31:33,047 - ultron - INFO - 2021-04-21 00:00:00: turn over 0.06, returns 0.0128
2023-03-27 17:31:33,062 - ultron - INFO - 2021-04-22 00:00:00: turn over 0.06, returns 0.0061
2023-03-27 17:31:33,077 - ultron - INFO - 2021-04-23 00:00:00: turn over 0.06, returns 0.0033
2023-03-27 17:31:33,091 - ultron - INFO - 2021-04-26 00:00:00: turn over 0.06, returns 0.0183
2023-03-27 17:31:33,105 - ultron - INFO - 2021-04-27 00:00:00: turn over 0.06, returns 0.0027
2023-03-27 17:31:33,120 - ultron - INFO - 2021-04-28 00:00:00: turn over 0.06, returns 0.0253
2023-03-27 17:31:33,134 - ultron - INFO - 2021-04-29 00:00:00: turn over 0.06, returns 0.0044
2023-03-27 17:31:33,146 - ultron - INFO - 2021-04-30 00:00:00: turn over 0.06, returns 0.0248

In [30]:
metrics.head()

,annual_return,annual_volatility,cagr,sharpe_ratio,downside_risk,max_drawdown,calmar_ratio,turnover,name
0,-0.106602,0.285659,-0.106602,-0.253887,0.215201,-0.151382,-0.704192,0.081364,returns
1,-0.011904,0.161546,-0.011904,0.004989,0.119110,-0.071606,-0.166237,NaN,benchmark_returns
2,-0.088045,0.195976,-0.088045,-0.374237,0.138514,-0.110505,-0.796751,NaN,excess_return