In [1]:
import os, copy, pdb
os.environ['DB_URL'] = 'mysql+mysqlconnector://ultron:123456@127.0.0.1/ultron'
os.environ['IGNORE_WARNINGS'] = '0'

In [2]:
import pandas as pd

In [3]:
from jdw import SurfaceAPI
from ultron.tradingday import *
from ultron.factor.data.processing import factor_processing
from ultron.factor.data.winsorize import winsorize_normal
from ultron.factor.data.standardize import standardize

/usr/local/lib/python3.7/site-packages/jdw/__init__.py:11: UserWarning: if use distributed calculating, please configure MQ_URL
  warnings.warn('if use distributed calculating, please configure MQ_URL')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:15: UserWarning: if use distributed calculating, please configure NTN_URL
  warnings.warn('if use distributed calculating, please configure NTN_URL')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:19: UserWarning: if use memory database, please configure KN_MG
  warnings.warn('if use memory database, please configure KN_MG')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:27: UserWarning: if use trader, please configure ATL_URL
  warnings.warn('if use trader, please configure ATL_URL')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:31: UserWarning: if use trader, please configure IREY_URL
  warnings.warn('if use trader, please configure IREY_URL')

/root/ultron/2023-01-04.log

In [4]:
from ultron.optimize.model.linearmodel import RidgeRegression
from ultron.optimize.model.treemodel import RandomForestRegressor
from ultron.optimize.model.treemodel import LGBMRegressor

In [5]:
### 指定因子策略1
factor_columns_2d = ['aiEtopZ180', 'aiDaPE60','VOL120','BIAS60',
                     'VDEA','voll01M20D','VOL240','TVMA20','Aroon'] ## 假设这些因子是挑选过 2天持仓期

###指定因子策略2
factor_columns_5d = ['EMV14', 'DDI','TRIX10','PLRC12',
                     'Ulcer10','EMA26','BBIC','ARBR','Kurtosis60'] ## 假设这些因子是挑选过 5天持仓期

universe = 'zz500'
begin_date = '2022-01-10'
end_date = '2022-08-23'

industry_styles = [
    'Bank', 'RealEstate', 'Health', 'Transportation', 'Mining', 'NonFerMetal',
    'HouseApp', 'LeiService', 'MachiEquip', 'BuildDeco', 'CommeTrade',
    'CONMAT', 'Auto', 'Textile', 'FoodBever', 'Electronics', 'Computer',
    'LightIndus', 'Utilities', 'Telecom', 'AgriForest', 'CHEM', 'Media',
    'IronSteel', 'NonBankFinan', 'ELECEQP', 'AERODEF', 'Conglomerates'
]

neutralized_risk = industry_styles + ['SIZE']

#### 读取不同周期因子

#### 策略1因子

In [6]:
factors_data_2d = SurfaceAPI.StkFactors().universe_fetch(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date,columns=factor_columns_2d)
factors_data_2d.head()

,trade_date,code,BIAS60,Aroon,aiEtopZ180,VOL120,TVMA20,VOL240,voll01M20D,aiDaPE60,VDEA
23000,2022-01-10,000009,-18.3814,-68.0,2.6217,0.0405,1092.9611,0.0373,-0.7855,0.4616,-6.370219e+06
23001,2022-01-10,000012,-1.0952,-44.0,1.0189,0.0305,220.9307,0.0267,-0.7492,0.1060,-4.698241e+06
23002,2022-01-10,000021,-1.0667,-60.0,0.9094,0.0122,266.9227,0.0145,-0.4434,0.2471,-1.634245e+06
23003,2022-01-10,000027,-1.5482,-48.0,-0.4697,0.0113,348.9022,0.0198,-0.8306,-0.0406,-2.328976e+06
23004,2022-01-10,000028,7.5457,80.0,1.4683,0.0064,128.3186,0.0070,-0.3903,0.0215,5.078422e+05

#### 策略2 因子

In [7]:
factors_data_5d = SurfaceAPI.StkFactors().universe_fetch(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date,columns=factor_columns_5d)
factors_data_5d.head()

,trade_date,code,EMV14,Kurtosis60,TRIX10,ARBR,BBIC,PLRC12,Ulcer10,DDI,EMA26
23000,2022-01-10,000009,-0.0822,1.5338,-0.0088,2.0746,1.0228,-0.0411,9.3427,-0.4508,15.1918
23001,2022-01-10,000012,-0.0302,0.9657,-0.0015,10.4465,1.0199,0.0043,3.8669,0.0146,9.7453
23002,2022-01-10,000021,-0.2424,7.7211,-0.0010,-3.8740,1.0233,-0.0457,4.3921,-0.3566,15.9044
23003,2022-01-10,000027,-0.0213,0.6241,-0.0018,-16.6224,1.0115,-0.0399,5.3153,-0.2028,8.1570
23004,2022-01-10,000028,1.7114,5.3541,0.0043,-20.1246,0.9839,0.2126,0.9749,0.5274,35.3427

#### 不同策略对应不同周期收益率

#### 策略1 收益率

In [24]:
yields_data_2d = SurfaceAPI.StkYields().fetch_returns(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date, horizon=2, offset=0)
yields_data_2d.head()

    trade_date    code  nxt1_ret
0   2022-01-10  000009 -0.007154
148 2022-01-10  000012 -0.017960
296 2022-01-10  000021 -0.029486
444 2022-01-10  000027 -0.013764
592 2022-01-10  000028  0.002734

#### 策略2 收益率

In [9]:
yields_data_5d = SurfaceAPI.StkYields().fetch_returns(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date, horizon=5, offset=0)
yields_data_5d.head()

    trade_date    code  nxt1_ret
0   2022-01-10  000009  0.050669
145 2022-01-10  000012 -0.049545
290 2022-01-10  000021 -0.022158
435 2022-01-10  000027 -0.017518
580 2022-01-10  000028 -0.030046

In [10]:
industry = SurfaceAPI.StkIndustry().universe_fetch(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date, category='sw', level='1')
industry.head()

  trade_date    code  industry_code industry
0 2022-01-10  000009        1030328       综合
1 2022-01-10  000012        1030306     建筑材料
2 2022-01-10  000021        1030312       电子
3 2022-01-10  000027        1030318     公用事业
4 2022-01-10  000028        1030317     医药生物

In [11]:
risk_data = SurfaceAPI.RiskModel().universe_risk(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date)
risk_data.head()

,trade_date,code,srisk,BETA,MOMENTUM,SIZE,EARNYILD,RESVOL,GROWTH,BTOP,...,Telecom,AgriForest,CHEM,Media,IronSteel,NonBankFinan,ELECEQP,AERODEF,Conglomerates,COUNTRY
6500,2022-01-10,000009,44.162,0.787,0.833,-0.352,-0.672,1.977,0.266,-0.768,...,0,0,0,0,0,0,0,0,1,1
6501,2022-01-10,000012,38.114,0.410,0.539,-0.547,0.762,0.294,-0.187,-0.171,...,0,0,0,0,0,0,0,0,0,1
6502,2022-01-10,000021,25.344,-0.893,-0.720,-0.718,-0.384,-0.539,-0.848,-0.167,...,0,0,0,0,0,0,0,0,0,1
6503,2022-01-10,000027,27.987,-1.161,0.098,-0.306,1.152,0.587,0.205,0.977,...,0,0,0,0,0,0,0,0,0,1
6504,2022-01-10,000028,19.454,-1.371,-1.081,-1.104,1.170,-1.398,-0.419,1.656,...,0,0,0,0,0,0,0,0,0,1

In [12]:
def industry_median(factors_data, factor_columns):
    def _industry_median(standard_data, factor_name):
        median_values = standard_data[[
                'trade_date', 'industry_code', 'code', factor_name
            ]].groupby(['trade_date', 'industry_code']).median()[factor_name]

        median_values.name = factor_name + '_median'
        factor_data = standard_data[[
                'trade_date', 'industry_code', 'code', factor_name
            ]].merge(median_values.reset_index(),
                     on=['trade_date', 'industry_code'],
                     how='left')
        factor_data['standard_' +
                        factor_name] = factor_data[factor_name].mask(
                            pd.isnull(factor_data[factor_name]),
                            factor_data[factor_name + '_median'])
        return factor_data.drop(
                [factor_name + '_median'],
                axis=1).set_index(['trade_date', 'code', 'industry_code'])

    res = []
    standarad_cols = [
            'standard_' + col for col in factor_columns
        ]

    for col in factor_columns:
        rts = _industry_median(factors_data, col)
        res.append(rts)

    factors_data = pd.concat(res, axis=1)

    factors_data = factors_data.fillna(0)
    factors_data = factors_data.reset_index().set_index(
            ['trade_date', 'code'])
    factors_data = factors_data.drop(
            factor_columns, axis=1).rename(columns=dict(
                zip(standarad_cols, factor_columns)))
    return factors_data.reset_index()

#### 行业中位数填充空值

In [14]:
total_data_2d = factors_data_2d.merge(industry,on=['trade_date','code'])
total_data_2d.head()

,trade_date,code,BIAS60,Aroon,aiEtopZ180,VOL120,TVMA20,VOL240,voll01M20D,aiDaPE60,VDEA,industry_code,industry
0,2022-01-10,000009,-18.3814,-68.0,2.6217,0.0405,1092.9611,0.0373,-0.7855,0.4616,-6.370219e+06,1030328,综合
1,2022-01-10,000012,-1.0952,-44.0,1.0189,0.0305,220.9307,0.0267,-0.7492,0.1060,-4.698241e+06,1030306,建筑材料
2,2022-01-10,000021,-1.0667,-60.0,0.9094,0.0122,266.9227,0.0145,-0.4434,0.2471,-1.634245e+06,1030312,电子
3,2022-01-10,000027,-1.5482,-48.0,-0.4697,0.0113,348.9022,0.0198,-0.8306,-0.0406,-2.328976e+06,1030318,公用事业
4,2022-01-10,000028,7.5457,80.0,1.4683,0.0064,128.3186,0.0070,-0.3903,0.0215,5.078422e+05,1030317,医药生物

In [15]:
total_data_5d = factors_data_5d.merge(industry,on=['trade_date','code'])
total_data_5d.head()

,trade_date,code,EMV14,Kurtosis60,TRIX10,ARBR,BBIC,PLRC12,Ulcer10,DDI,EMA26,industry_code,industry
0,2022-01-10,000009,-0.0822,1.5338,-0.0088,2.0746,1.0228,-0.0411,9.3427,-0.4508,15.1918,1030328,综合
1,2022-01-10,000012,-0.0302,0.9657,-0.0015,10.4465,1.0199,0.0043,3.8669,0.0146,9.7453,1030306,建筑材料
2,2022-01-10,000021,-0.2424,7.7211,-0.0010,-3.8740,1.0233,-0.0457,4.3921,-0.3566,15.9044,1030312,电子
3,2022-01-10,000027,-0.0213,0.6241,-0.0018,-16.6224,1.0115,-0.0399,5.3153,-0.2028,8.1570,1030318,公用事业
4,2022-01-10,000028,1.7114,5.3541,0.0043,-20.1246,0.9839,0.2126,0.9749,0.5274,35.3427,1030317,医药生物

In [16]:
factors_data_2d = industry_median(total_data_2d, factor_columns_2d)
factors_data_2d.head()

,trade_date,code,industry_code,aiEtopZ180,aiDaPE60,VOL120,BIAS60,VDEA,voll01M20D,VOL240,TVMA20,Aroon
0,2022-01-10,000009,1030328,2.6217,0.4616,0.0405,-18.3814,-6.370219e+06,-0.7855,0.0373,1092.9611,-68.0
1,2022-01-10,000012,1030306,1.0189,0.1060,0.0305,-1.0952,-4.698241e+06,-0.7492,0.0267,220.9307,-44.0
2,2022-01-10,000021,1030312,0.9094,0.2471,0.0122,-1.0667,-1.634245e+06,-0.4434,0.0145,266.9227,-60.0
3,2022-01-10,000027,1030318,-0.4697,-0.0406,0.0113,-1.5482,-2.328976e+06,-0.8306,0.0198,348.9022,-48.0
4,2022-01-10,000028,1030317,1.4683,0.0215,0.0064,7.5457,5.078422e+05,-0.3903,0.0070,128.3186,80.0

In [17]:
factors_data_5d = industry_median(total_data_5d, factor_columns_5d)
factors_data_5d.head()

,trade_date,code,industry_code,EMV14,DDI,TRIX10,PLRC12,Ulcer10,EMA26,BBIC,ARBR,Kurtosis60
0,2022-01-10,000009,1030328,-0.0822,-0.4508,-0.0088,-0.0411,9.3427,15.1918,1.0228,2.0746,1.5338
1,2022-01-10,000012,1030306,-0.0302,0.0146,-0.0015,0.0043,3.8669,9.7453,1.0199,10.4465,0.9657
2,2022-01-10,000021,1030312,-0.2424,-0.3566,-0.0010,-0.0457,4.3921,15.9044,1.0233,-3.8740,7.7211
3,2022-01-10,000027,1030318,-0.0213,-0.2028,-0.0018,-0.0399,5.3153,8.1570,1.0115,-16.6224,0.6241
4,2022-01-10,000028,1030317,1.7114,0.5274,0.0043,0.2126,0.9749,35.3427,0.9839,-20.1246,5.3541

#### 数据降维

In [18]:
from ultron.factor.dimension import DimensionCorrcoef
from ultron.factor.dimension.corrcoef import FCorrType
from ultron.ump.similar.corrcoef import ECoreCorrType

In [20]:
engine_2d = DimensionCorrcoef(features=factor_columns_2d, thresh=0.8, method=FCorrType.F_TS_CORR)
engine_5d = DimensionCorrcoef(features=factor_columns_5d, thresh=0.85, method=FCorrType.F_TS_CORR)

In [21]:
dimension_data_2d = engine_2d.run(factors_data=factors_data_2d, similar_type=ECoreCorrType.E_CORE_TYPE_SPERM)
dimension_data_5d = engine_5d.run(factors_data=factors_data_5d, similar_type=ECoreCorrType.E_CORE_TYPE_SPERM)

2023-01-04 19:04:35,375 - ultron - INFO - aiEtopZ180,aiDaPE60 corr:0.6979976745608845
2023-01-04 19:04:35,776 - ultron - INFO - aiEtopZ180,VOL120 corr:0.03942142679467622
2023-01-04 19:04:36,186 - ultron - INFO - aiEtopZ180,BIAS60 corr:-0.4166016807306194
2023-01-04 19:04:36,581 - ultron - INFO - aiEtopZ180,VDEA corr:-0.1342907112871976
2023-01-04 19:04:36,981 - ultron - INFO - aiEtopZ180,voll01M20D corr:0.20037600759210666
2023-01-04 19:04:37,347 - ultron - INFO - aiEtopZ180,VOL240 corr:0.06528254120413005
2023-01-04 19:04:37,743 - ultron - INFO - aiEtopZ180,TVMA20 corr:-0.043914307352012405
2023-01-04 19:04:38,099 - ultron - INFO - aiEtopZ180,Aroon corr:-0.2795233397487814

TS CORR::12.5%

2023-01-04 19:04:38,443 - ultron - INFO - aiDaPE60,VOL120 corr:0.0521406104254445
2023-01-04 19:04:38,827 - ultron - INFO - aiDaPE60,BIAS60 corr:-0.4621400165033856
2023-01-04 19:04:39,248 - ultron - INFO - aiDaPE60,VDEA corr:-0.1973563130693865
2023-01-04 19:04:39,640 - ultron - INFO - aiDaPE60,voll01M20D corr:0.1689504289511786
2023-01-04 19:04:40,003 - ultron - INFO - aiDaPE60,VOL240 corr:0.05077839839291906
2023-01-04 19:04:40,362 - ultron - INFO - aiDaPE60,TVMA20 corr:-0.04417430445908597
2023-01-04 19:04:40,719 - ultron - INFO - aiDaPE60,Aroon corr:-0.3102341020812309

TS CORR::25.0%

2023-01-04 19:04:41,105 - ultron - INFO - VOL120,aiDaPE60 corr:0.0521406104254445
2023-01-04 19:04:41,506 - ultron - INFO - VOL120,BIAS60 corr:-0.08444981140158418
2023-01-04 19:04:41,901 - ultron - INFO - VOL120,VDEA corr:-0.14180205299610038
2023-01-04 19:04:42,303 - ultron - INFO - VOL120,voll01M20D corr:-0.33492272583773636
2023-01-04 19:04:42,696 - ultron - INFO - VOL120,VOL240 corr:0.9360881280889841
2023-01-04 19:04:43,101 - ultron - INFO - VOL120,TVMA20 corr:0.6633126646789783
2023-01-04 19:04:43,498 - ultron - INFO - VOL120,Aroon corr:-0.026508379217236963

TS CORR::37.5%

2023-01-04 19:04:43,899 - ultron - INFO - BIAS60,aiDaPE60 corr:-0.4621400165033856
2023-01-04 19:04:44,288 - ultron - INFO - BIAS60,VOL120 corr:-0.08444981140158418
2023-01-04 19:04:44,688 - ultron - INFO - BIAS60,VDEA corr:0.3555441311232954
2023-01-04 19:04:45,088 - ultron - INFO - BIAS60,voll01M20D corr:-0.30959743276563667
2023-01-04 19:04:45,453 - ultron - INFO - BIAS60,TVMA20 corr:0.18786111711412543
2023-01-04 19:04:45,815 - ultron - INFO - BIAS60,Aroon corr:0.6472502392464647

TS CORR::50.0%

2023-01-04 19:04:46,180 - ultron - INFO - VDEA,aiDaPE60 corr:-0.1973563130693865
2023-01-04 19:04:46,548 - ultron - INFO - VDEA,VOL120 corr:-0.14180205299610038
2023-01-04 19:04:46,916 - ultron - INFO - VDEA,BIAS60 corr:0.3555441311232954
2023-01-04 19:04:47,286 - ultron - INFO - VDEA,voll01M20D corr:-0.2436768211107933
2023-01-04 19:04:47,640 - ultron - INFO - VDEA,TVMA20 corr:0.10473618397439098
2023-01-04 19:04:48,019 - ultron - INFO - VDEA,Aroon corr:0.39619439002701484

TS CORR::62.5%

2023-01-04 19:04:48,372 - ultron - INFO - voll01M20D,aiDaPE60 corr:0.1689504289511786
2023-01-04 19:04:48,726 - ultron - INFO - voll01M20D,VOL120 corr:-0.3349227258377364
2023-01-04 19:04:49,097 - ultron - INFO - voll01M20D,BIAS60 corr:-0.30959743276563667
2023-01-04 19:04:49,474 - ultron - INFO - voll01M20D,VDEA corr:-0.2436768211107933
2023-01-04 19:04:49,862 - ultron - INFO - voll01M20D,TVMA20 corr:-0.5156487385412462
2023-01-04 19:04:50,239 - ultron - INFO - voll01M20D,Aroon corr:-0.24121924138750064

TS CORR::75.0%
TS CORR::87.5%

2023-01-04 19:04:50,627 - ultron - INFO - TVMA20,aiDaPE60 corr:-0.04417430445908597
2023-01-04 19:04:51,008 - ultron - INFO - TVMA20,VOL120 corr:0.6633126646789783
2023-01-04 19:04:51,395 - ultron - INFO - TVMA20,BIAS60 corr:0.18786111711412543
2023-01-04 19:04:51,772 - ultron - INFO - TVMA20,VDEA corr:0.10473618397439098
2023-01-04 19:04:52,170 - ultron - INFO - TVMA20,voll01M20D corr:-0.5156487385412462
2023-01-04 19:04:52,555 - ultron - INFO - TVMA20,Aroon corr:0.15724655655649705

TS CORR::100.0%

2023-01-04 19:04:52,973 - ultron - INFO - EMV14,DDI corr:0.6102636820945844
2023-01-04 19:04:53,355 - ultron - INFO - EMV14,TRIX10 corr:0.5920502285463867
2023-01-04 19:04:53,747 - ultron - INFO - EMV14,PLRC12 corr:0.6719001933321755
2023-01-04 19:04:54,130 - ultron - INFO - EMV14,Ulcer10 corr:-0.4317677679633494
2023-01-04 19:04:54,515 - ultron - INFO - EMV14,EMA26 corr:-0.1743831326639877
2023-01-04 19:04:54,875 - ultron - INFO - EMV14,BBIC corr:-0.5400794976640251
2023-01-04 19:04:55,235 - ultron - INFO - EMV14,ARBR corr:0.01995703325510972
2023-01-04 19:04:55,623 - ultron - INFO - EMV14,Kurtosis60 corr:0.02592827144490599

TS CORR::12.5%

2023-01-04 19:04:55,985 - ultron - INFO - DDI,TRIX10 corr:0.6981182533598129
2023-01-04 19:04:56,330 - ultron - INFO - DDI,PLRC12 corr:0.6728911068041682
2023-01-04 19:04:56,688 - ultron - INFO - DDI,Ulcer10 corr:-0.5643823296705243
2023-01-04 19:04:57,048 - ultron - INFO - DDI,EMA26 corr:0.013073094311443274
2023-01-04 19:04:57,407 - ultron - INFO - DDI,BBIC corr:-0.7134427749058343
2023-01-04 19:04:57,764 - ultron - INFO - DDI,ARBR corr:-0.02666101362129936
2023-01-04 19:04:58,115 - ultron - INFO - DDI,Kurtosis60 corr:0.005168700787286901

TS CORR::25.0%

2023-01-04 19:04:58,475 - ultron - INFO - TRIX10,DDI corr:0.698118253359813
2023-01-04 19:04:58,833 - ultron - INFO - TRIX10,PLRC12 corr:0.5775222678985884
2023-01-04 19:04:59,186 - ultron - INFO - TRIX10,Ulcer10 corr:-0.4928086773836489
2023-01-04 19:04:59,538 - ultron - INFO - TRIX10,EMA26 corr:-0.02191092315713069
2023-01-04 19:04:59,898 - ultron - INFO - TRIX10,BBIC corr:-0.5401038044933415
2023-01-04 19:05:00,297 - ultron - INFO - TRIX10,ARBR corr:-0.03183070195228522
2023-01-04 19:05:00,696 - ultron - INFO - TRIX10,Kurtosis60 corr:0.013577231361391724

TS CORR::37.5%

2023-01-04 19:05:01,092 - ultron - INFO - PLRC12,DDI corr:0.6728911068041681
2023-01-04 19:05:01,484 - ultron - INFO - PLRC12,TRIX10 corr:0.5775222678985885
2023-01-04 19:05:01,864 - ultron - INFO - PLRC12,Ulcer10 corr:-0.5301446458426603
2023-01-04 19:05:02,218 - ultron - INFO - PLRC12,EMA26 corr:-0.08906301640352629
2023-01-04 19:05:02,577 - ultron - INFO - PLRC12,BBIC corr:-0.6679625865095329
2023-01-04 19:05:02,921 - ultron - INFO - PLRC12,ARBR corr:-0.03211177614641762
2023-01-04 19:05:03,275 - ultron - INFO - PLRC12,Kurtosis60 corr:0.030516933462142865

TS CORR::50.0%

2023-01-04 19:05:03,625 - ultron - INFO - Ulcer10,DDI corr:-0.5643823296705243
2023-01-04 19:05:04,018 - ultron - INFO - Ulcer10,TRIX10 corr:-0.4928086773836489
2023-01-04 19:05:04,407 - ultron - INFO - Ulcer10,PLRC12 corr:-0.5301446458426602
2023-01-04 19:05:04,792 - ultron - INFO - Ulcer10,EMA26 corr:0.22926898072169763
2023-01-04 19:05:05,183 - ultron - INFO - Ulcer10,BBIC corr:0.5046510905385388
2023-01-04 19:05:05,566 - ultron - INFO - Ulcer10,ARBR corr:0.09546012038051228
2023-01-04 19:05:05,967 - ultron - INFO - Ulcer10,Kurtosis60 corr:-0.13077171755888445

TS CORR::62.5%

2023-01-04 19:05:06,354 - ultron - INFO - EMA26,DDI corr:0.013073094311443264
2023-01-04 19:05:06,704 - ultron - INFO - EMA26,TRIX10 corr:-0.02191092315713068
2023-01-04 19:05:07,056 - ultron - INFO - EMA26,PLRC12 corr:-0.08906301640352629
2023-01-04 19:05:07,412 - ultron - INFO - EMA26,Ulcer10 corr:0.22926898072169763
2023-01-04 19:05:07,794 - ultron - INFO - EMA26,BBIC corr:0.034569824596015396
2023-01-04 19:05:08,181 - ultron - INFO - EMA26,ARBR corr:-0.04934667492441174
2023-01-04 19:05:08,572 - ultron - INFO - EMA26,Kurtosis60 corr:-0.20642573452359766

TS CORR::75.0%

2023-01-04 19:05:08,957 - ultron - INFO - BBIC,DDI corr:-0.7134427749058343
2023-01-04 19:05:09,334 - ultron - INFO - BBIC,TRIX10 corr:-0.5401038044933416
2023-01-04 19:05:09,690 - ultron - INFO - BBIC,PLRC12 corr:-0.6679625865095329
2023-01-04 19:05:10,057 - ultron - INFO - BBIC,Ulcer10 corr:0.5046510905385388
2023-01-04 19:05:10,415 - ultron - INFO - BBIC,EMA26 corr:0.034569824596015396
2023-01-04 19:05:10,787 - ultron - INFO - BBIC,ARBR corr:0.07092768476419511
2023-01-04 19:05:11,179 - ultron - INFO - BBIC,Kurtosis60 corr:-0.02266508256378427

TS CORR::87.5%

2023-01-04 19:05:11,581 - ultron - INFO - ARBR,DDI corr:-0.02666101362129936
2023-01-04 19:05:11,965 - ultron - INFO - ARBR,TRIX10 corr:-0.03183070195228522
2023-01-04 19:05:12,354 - ultron - INFO - ARBR,PLRC12 corr:-0.03211177614641762
2023-01-04 19:05:12,740 - ultron - INFO - ARBR,Ulcer10 corr:0.0954601203805123
2023-01-04 19:05:13,116 - ultron - INFO - ARBR,EMA26 corr:-0.04934667492441174
2023-01-04 19:05:13,472 - ultron - INFO - ARBR,BBIC corr:0.07092768476419513
2023-01-04 19:05:13,837 - ultron - INFO - ARBR,Kurtosis60 corr:-0.05459706858965895

TS CORR::100.0%

In [22]:
dimension_features_2d = [col for col in dimension_data_2d.columns if col not in ['trade_date','code','industry_code']]
dimension_features_5d = [col for col in dimension_data_5d.columns if col not in ['trade_date','code','industry_code']]

#### 构建机器学习因子

In [25]:
total_data_2d = dimension_data_2d.merge(yields_data_2d, on=['trade_date','code']).merge(
    risk_data,on=['trade_date','code'])
total_data_2d.head()

,trade_date,code,industry_code,aiEtopZ180,aiDaPE60,VOL120,BIAS60,VDEA,voll01M20D,TVMA20,...,Telecom,AgriForest,CHEM,Media,IronSteel,NonBankFinan,ELECEQP,AERODEF,Conglomerates,COUNTRY
0,2022-01-10,000009,1030328,2.6217,0.4616,0.0405,-18.3814,-6.370219e+06,-0.7855,1092.9611,...,0,0,0,0,0,0,0,0,1,1
1,2022-01-10,000012,1030306,1.0189,0.1060,0.0305,-1.0952,-4.698241e+06,-0.7492,220.9307,...,0,0,0,0,0,0,0,0,0,1
2,2022-01-10,000021,1030312,0.9094,0.2471,0.0122,-1.0667,-1.634245e+06,-0.4434,266.9227,...,0,0,0,0,0,0,0,0,0,1
3,2022-01-10,000027,1030318,-0.4697,-0.0406,0.0113,-1.5482,-2.328976e+06,-0.8306,348.9022,...,0,0,0,0,0,0,0,0,0,1
4,2022-01-10,000028,1030317,1.4683,0.0215,0.0064,7.5457,5.078422e+05,-0.3903,128.3186,...,0,0,0,0,0,0,0,0,0,1

In [26]:
total_data_5d = dimension_data_5d.merge(yields_data_5d, on=['trade_date','code']).merge(
    risk_data,on=['trade_date','code'])
total_data_5d.head()

,trade_date,code,industry_code,EMV14,DDI,TRIX10,PLRC12,Ulcer10,EMA26,BBIC,...,Telecom,AgriForest,CHEM,Media,IronSteel,NonBankFinan,ELECEQP,AERODEF,Conglomerates,COUNTRY
0,2022-01-10,000009,1030328,-0.0822,-0.4508,-0.0088,-0.0411,9.3427,15.1918,1.0228,...,0,0,0,0,0,0,0,0,1,1
1,2022-01-10,000012,1030306,-0.0302,0.0146,-0.0015,0.0043,3.8669,9.7453,1.0199,...,0,0,0,0,0,0,0,0,0,1
2,2022-01-10,000021,1030312,-0.2424,-0.3566,-0.0010,-0.0457,4.3921,15.9044,1.0233,...,0,0,0,0,0,0,0,0,0,1
3,2022-01-10,000027,1030318,-0.0213,-0.2028,-0.0018,-0.0399,5.3153,8.1570,1.0115,...,0,0,0,0,0,0,0,0,0,1
4,2022-01-10,000028,1030317,1.7114,0.5274,0.0043,0.2126,0.9749,35.3427,0.9839,...,0,0,0,0,0,0,0,0,0,1

In [27]:
pre_process = [winsorize_normal, standardize]
post_process = [standardize]

def create_models(alpha_model, total_data, begin_date, end_date, batch):
    models = {}
    date_label = pd.DatetimeIndex(total_data.trade_date).to_pydatetime()
    dates = makeSchedule(begin_date,
                             end_date,
                             '1b',
                             calendar='china.sse',
                             dateRule=BizDayConventions.Following,
                             dateGenerationRule=DateGeneration.Backward)
    for d in dates:
        start_date = advanceDateByCalendar('china.sse', d,
                                               "-{}b".format(batch),
                                               BizDayConventions.Following)
        ref_dates = makeSchedule(
                start_date,
                d,
                '1b',
                calendar='china.sse',
                dateRule=BizDayConventions.Following,
                dateGenerationRule=DateGeneration.Backward)

        if ref_dates[-1] == d:
            end = ref_dates[-2]
            start = ref_dates[
                    -batch -
                    1] if batch <= len(ref_dates) - 1 else ref_dates[0]
        else:
            end = ref_dates[-1]
            start = ref_dates[-batch] if batch <= len(
                    ref_dates) else ref_dates[0]
        index = (date_label >= start) & (date_label <= end)
        base_model = copy.deepcopy(alpha_model)
        train_data = total_data.set_index(
                'trade_date').loc[index].reset_index()
        train_data = train_data.sort_values(by=['trade_date', 'code'])
        if train_data.empty:
            continue
        ne_x = factor_processing(
                train_data[alpha_model.formulas.names].values,
                pre_process=pre_process,
                risk_factors=train_data[neutralized_risk].values.astype(
                    float) if neutralized_risk is not None else None,
                post_process=post_process)

        ne_y = factor_processing(
                train_data[['nxt1_ret']].values,
                pre_process=pre_process,
                risk_factors=train_data[neutralized_risk].values.astype(
                    float) if neutralized_risk is not None else None,
                post_process=post_process)
        X = pd.DataFrame(ne_x, columns=alpha_model.formulas.names)
        Y = ne_y
        base_model.fit(X, Y)
        models[d] = base_model
    return models

In [28]:
## 此处我们已经确定 两个弱学习器超参已经确定
alpha_model_2d = RandomForestRegressor(features=dimension_features_2d)
alpha_model_5d = LGBMRegressor(features=dimension_features_5d)

In [30]:
model_5d = create_models(alpha_model_5d, total_data_5d, begin_date, end_date, 3) #使用过去3期数据预测
model_2d = create_models(alpha_model_2d, total_data_2d, begin_date, end_date, 4) #使用过去4期数据预测

In [31]:
def predict(models, total_data, begin_date, end_date, name):
    batch = 1
    res = []
    date_label = pd.DatetimeIndex(total_data.trade_date).to_pydatetime()
    dates = makeSchedule(begin_date,
                             end_date,
                             '1b',
                             calendar='china.sse',
                             dateRule=BizDayConventions.Following,
                             dateGenerationRule=DateGeneration.Backward)
    for d in dates:
        if d not in models.keys():
            continue
        alpha_model = models[d]
        start_date = advanceDateByCalendar('china.sse', d,
                                               "-{}b".format(batch),
                                               BizDayConventions.Following)
        ref_dates = makeSchedule(
                start_date,
                d,
                '1b',
                calendar='china.sse',
                dateRule=BizDayConventions.Following,
                dateGenerationRule=DateGeneration.Backward)

        if ref_dates[-1] == d:
            end = ref_dates[-2]
            start = ref_dates[
                    -batch -
                    1] if batch <= len(ref_dates) - 1 else ref_dates[0]
        else:
            end = ref_dates[-1]
            start = ref_dates[-batch] if batch <= len(
                    ref_dates) else ref_dates[0]
        index = (date_label >= start) & (date_label <= end)
        train_data = total_data.set_index(
                'trade_date').loc[index].reset_index()
        train_data = train_data.sort_values(by=['trade_date', 'code'])
        if train_data.empty:
            continue
        ne_x = factor_processing(
                train_data[alpha_model.formulas.names].values,
                pre_process=pre_process,
                risk_factors=train_data[neutralized_risk].values.astype(
                    float) if neutralized_risk is not None else None,
                post_process=post_process)
        codes = train_data.code
        X = pd.DataFrame(ne_x, columns=alpha_model.formulas.names)
        y = pd.DataFrame(alpha_model.predict(X).flatten(), index=codes, columns=[name])
        y['trade_date'] = d
        res.append(y.reset_index().set_index(['trade_date','code']))
    return res

#### 预测数据得到机器学习因子

In [32]:
predict_factor_5d = predict(model_5d, total_data_5d, begin_date, end_date, '5d') 
predict_factor_5d = pd.concat(predict_factor_5d,axis=0)

In [38]:
predict_factor_2d = predict(model_2d, total_data_2d, begin_date, end_date, '2d') 
predict_factor_2d = pd.concat(predict_factor_2d,axis=0)

In [39]:
predict_factor = pd.concat([predict_factor_2d,predict_factor_5d],axis=1)
predict_factor.head()

                         2d        5d
trade_date code
2022-01-11 000009 -0.216752 -0.193051
           000012  0.397513 -0.000287
           000021 -0.290232 -0.677134
           000027  0.022124  0.185034
           000028  0.250076  0.002689

In [37]:
yields_data = SurfaceAPI.StkYields().fetch_returns(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date, horizon=1, offset=0)
yields_data.head()

    trade_date    code  nxt1_ret
0   2022-01-10  000009  0.035753
149 2022-01-10  000012  0.001121
298 2022-01-10  000021 -0.013661
447 2022-01-10  000027 -0.003713
596 2022-01-10  000028  0.008451

#### 两个子策略 y 因子Ridge合成

In [40]:
predict_factor = predict_factor.reset_index().merge(yields_data, on=['trade_date','code']).merge(
    industry, on=['trade_date','code']).merge(risk_data, on=['trade_date','code']).drop(
    ['industry'],axis=1).dropna(subset=['2d','5d'])
predict_factor.head()

,trade_date,code,2d,5d,nxt1_ret,industry_code,srisk,BETA,MOMENTUM,SIZE,...,Telecom,AgriForest,CHEM,Media,IronSteel,NonBankFinan,ELECEQP,AERODEF,Conglomerates,COUNTRY
0,2022-01-11,000009,-0.216752,-0.193051,-0.007154,1030328,43.442,0.740,0.859,-0.343,...,0,0,0,0,0,0,0,0,1,1
1,2022-01-11,000012,0.397513,-0.000287,-0.027416,1030306,37.594,0.338,0.557,-0.530,...,0,0,0,0,0,0,0,0,0,1
2,2022-01-11,000021,-0.290232,-0.677134,-0.007956,1030312,24.908,-0.821,-0.724,-0.730,...,0,0,0,0,0,0,0,0,0,1
3,2022-01-11,000027,0.022124,0.185034,-0.008751,1030318,27.473,-1.146,0.060,-0.301,...,0,0,0,0,0,0,0,0,0,1
4,2022-01-11,000028,0.250076,0.002689,-0.016676,1030317,19.131,-1.441,-1.069,-1.080,...,0,0,0,0,0,0,0,0,0,1

In [41]:
alpha_model = RidgeRegression(features=['2d','5d'])

In [42]:
models = create_models(alpha_model, predict_factor, begin_date, end_date, 5)

In [43]:
er = predict(models, predict_factor, begin_date, end_date, 'er')

In [44]:
factors = pd.concat(er,axis=0)
factors.head()

                         er
trade_date code
2022-01-12 000009 -0.181322
           000012  0.519324
           000021 -0.384317
           000027  0.014125
           000028  0.311057