In [1]:
import os, copy, pdb, datetime
os.environ['DB_URL'] = 'mysql+mysqlconnector://ultron:123456@127.0.0.1/ultron'
os.environ['IGNORE_WARNINGS'] = '0'

In [2]:
import pandas as pd

In [3]:
from jdw import SurfaceAPI

/usr/local/lib/python3.7/site-packages/jdw/__init__.py:11: UserWarning: if use distributed calculating, please configure MQ_URL
  warnings.warn('if use distributed calculating, please configure MQ_URL')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:15: UserWarning: if use distributed calculating, please configure NTN_URL
  warnings.warn('if use distributed calculating, please configure NTN_URL')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:19: UserWarning: if use memory database, please configure KN_MG
  warnings.warn('if use memory database, please configure KN_MG')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:27: UserWarning: if use trader, please configure ATL_URL
  warnings.warn('if use trader, please configure ATL_URL')
/usr/local/lib/python3.7/site-packages/jdw/__init__.py:31: UserWarning: if use trader, please configure IREY_URL
  warnings.warn('if use trader, please configure IREY_URL')

/root/ultron/2023-01-04.log

In [4]:
from ultron.strategy.strategy import StrategyEngine, create_params

In [5]:
universe = 'zz500'
begin_date = '2022-02-01'
end_date = '2022-08-23'
benchmark = '000905'

industry_styles = [
    'Bank', 'RealEstate', 'Health', 'Transportation', 'Mining', 'NonFerMetal',
    'HouseApp', 'LeiService', 'MachiEquip', 'BuildDeco', 'CommeTrade',
    'CONMAT', 'Auto', 'Textile', 'FoodBever', 'Electronics', 'Computer',
    'LightIndus', 'Utilities', 'Telecom', 'AgriForest', 'CHEM', 'Media',
    'IronSteel', 'NonBankFinan', 'ELECEQP', 'AERODEF', 'Conglomerates'
]

neutralized_risk = industry_styles + ['SIZE']

factor_columns = ['Ulcer10'] ## 假设为多策略y 机器学习合成因子

#### 提取因子

In [6]:
factors_data = SurfaceAPI.StkFactors().universe_fetch(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date,columns=factor_columns)
factors_data.head()

      trade_date    code  Ulcer10
23000 2022-02-07  000009   8.0952
23001 2022-02-07  000012   5.0616
23002 2022-02-07  000021   8.5103
23003 2022-02-07  000027   8.5309
23004 2022-02-07  000028   7.8630

#### 提取指数收益率

In [7]:
index_return = SurfaceAPI.IndexMarket().yields(start_date=begin_date,
                                    end_date=end_date,
                                    offset=0,
                                    index_code=benchmark)
index_return = index_return.rename(columns={'nxt1_ret':'returns'})
index_return.head()

     code trade_date   returns
0  000905 2022-02-07  0.009774
1  000905 2022-02-08  0.014845
2  000905 2022-02-09 -0.000371
3  000905 2022-02-10 -0.014053
4  000905 2022-02-11 -0.007340

#### 提取收益率

In [9]:
yields_data = SurfaceAPI.StkYields().fetch_returns(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date, horizon=2, offset=0)
yields_data.head()

    trade_date    code  nxt1_ret
0   2022-02-07  000009  0.010463
133 2022-02-07  000012  0.048027
266 2022-02-07  000021  0.021985
399 2022-02-07  000027  0.042493
532 2022-02-07  000028  0.022164

#### 提取基础权重

In [10]:
benchmark_data = SurfaceAPI.IndexComponent().query(start_date=begin_date,
                                                    end_date=end_date,
                                                    benchmark=benchmark)
benchmark_data.head()

  trade_date    code   weight
0 2022-02-07  600171  0.00189
1 2022-02-07  600879  0.00246
2 2022-02-07  601717  0.00166
3 2022-02-07  603707  0.00210
4 2022-02-07  000528  0.00118

#### 提取行业数据

In [11]:
industry_data = SurfaceAPI.StkIndustry().universe_fetch(universe=SurfaceAPI.StkUniverse(universe), 
                      start_date=begin_date,end_date=end_date, category='sw', level='1')
industry_data.head()

  trade_date    code  industry_code industry
0 2022-02-07  000009        1030328       综合
1 2022-02-07  000012        1030306     建筑材料
2 2022-02-07  000021        1030312       电子
3 2022-02-07  000027        1030318     公用事业
4 2022-02-07  000028        1030317     医药生物

#### 提取风险模式数据

In [12]:
factor_model, risk_cov, risk_exp = SurfaceAPI.RiskModel(risk_model='day').universe_fetch(
                universe=SurfaceAPI.StkUniverse(universe),
                start_date=begin_date,
                end_date=end_date,
                model_type='factor')

In [13]:
def industry_median(factors_data, factor_columns):
    def _industry_median(standard_data, factor_name):
        median_values = standard_data[[
                'trade_date', 'industry_code', 'code', factor_name
            ]].groupby(['trade_date', 'industry_code']).median()[factor_name]

        median_values.name = factor_name + '_median'
        factor_data = standard_data[[
                'trade_date', 'industry_code', 'code', factor_name
            ]].merge(median_values.reset_index(),
                     on=['trade_date', 'industry_code'],
                     how='left')
        factor_data['standard_' +
                        factor_name] = factor_data[factor_name].mask(
                            pd.isnull(factor_data[factor_name]),
                            factor_data[factor_name + '_median'])
        return factor_data.drop(
                [factor_name + '_median'],
                axis=1).set_index(['trade_date', 'code', 'industry_code'])

    res = []
    standarad_cols = [
            'standard_' + col for col in factor_columns
        ]

    for col in factor_columns:
        rts = _industry_median(factors_data, col)
        res.append(rts)

    factors_data = pd.concat(res, axis=1)

    factors_data = factors_data.fillna(0)
    factors_data = factors_data.reset_index().set_index(
            ['trade_date', 'code'])
    factors_data = factors_data.drop(
            factor_columns, axis=1).rename(columns=dict(
                zip(standarad_cols, factor_columns)))
    return factors_data.reset_index()

In [17]:
factors_data = factors_data.merge(
    industry_data[['trade_date','code','industry_code']], on=['trade_date','code'])
factors_data.head()

  trade_date    code  Ulcer10  industry_code
0 2022-02-07  000009   8.0952        1030328
1 2022-02-07  000012   5.0616        1030306
2 2022-02-07  000021   8.5103        1030312
3 2022-02-07  000027   8.5309        1030318
4 2022-02-07  000028   7.8630        1030317

In [18]:
factors_data = industry_median(factors_data, factor_columns)
factors_data.head()

  trade_date    code  industry_code  Ulcer10
0 2022-02-07  000009        1030328   8.0952
1 2022-02-07  000012        1030306   5.0616
2 2022-02-07  000021        1030312   8.5103
3 2022-02-07  000027        1030318   8.5309
4 2022-02-07  000028        1030317   7.8630

In [19]:
industry_dummy = pd.get_dummies(
            industry_data.set_index(['trade_date',
                                     'code'])['industry_code']).reset_index()

In [20]:
total_data = factors_data.merge(yields_data, on=['trade_date', 'code']).merge(
                    benchmark_data,
                    on=['trade_date',
                        'code']).merge(industry_dummy,
                                       on=['trade_date', 'code'
                                           ]).merge(risk_exp,
                                                    on=['trade_date', 'code'])

In [21]:
total_data.head()

,trade_date,code,industry_code,Ulcer10,nxt1_ret,weight,1030301,1030302,1030303,1030304,...,Telecom,AgriForest,CHEM,Media,IronSteel,NonBankFinan,ELECEQP,AERODEF,Conglomerates,COUNTRY
0,2022-02-07,000009,1030328,8.0952,0.010463,0.00526,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,2022-02-07,000012,1030306,5.0616,0.048027,0.00194,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2022-02-07,000021,1030312,8.5103,0.021985,0.00198,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2022-02-07,000027,1030318,8.5309,0.042493,0.00210,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2022-02-07,000028,1030317,7.8630,0.022164,0.00078,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

#### 参数设置

In [22]:
invalid_codes = []  ### 无效行业
effective_codes = industry_styles

turn_over_target = 0.08  ### 换手率
target_vol = 0.06  ### 波动率
lbound = 0.  ### 单个标的优化下限
ubound = 0.1  ### 单个标的优化上限
benchmark_lower = 0.8  ## 基于基准下限
benchmark_upper = 1.0  ## 基于基准上限
total_lower = 0.9  ## 组合下限
total_upper = 1.0  ## 组合上限
effective_industry_lower = 0.0  ## 有效行业下限
effective_industry_upper = 0.1  ## 有效行业上限
invalid_industry_lower = 0.0  ## 无效行业下限
invalid_industry_upper = 0.1  ## 无效行业上限
riskstyle_lower = 0.0
riskstyle_upper = 0.1

method = 'long_mean_variance' #'long_risk_neutral'

In [23]:
index_return = index_return.set_index('trade_date').loc[total_data.trade_date.unique()].reset_index()

In [24]:
strategy = StrategyEngine.create_class('stk')(
            alpha_model=None,
            index_return=index_return,
            risk_model=factor_model,
            total_data=total_data,
            features=factor_columns,
            start_date=datetime.datetime(2020, 2, 10))

In [25]:
params = create_params(industry_effective=industry_styles,
                           industry_invalid=invalid_codes,
                           turn_over_target=turn_over_target,
                           lbound=lbound,
                           ubound=ubound,
                           benchmark_lower=benchmark_lower,
                           benchmark_upper=benchmark_upper,
                           total_lower=total_lower,
                           total_upper=total_upper,
                           neutralized_styles=neutralized_risk,
                           effective_industry_lower=effective_industry_lower,
                           effective_industry_upper=effective_industry_upper,
                           method=method,
                           is_benchmark=1)

In [26]:
metrics, returns, positions = strategy.run(params)

2023-01-04 19:20:41,385 - ultron - INFO - starting re-balance ...
2023-01-04 19:20:41,448 - ultron - INFO - running setting finished ...
2023-01-04 19:20:41,491 - ultron - INFO - alpha models training finished ...
2023-01-04 19:20:42,039 - ultron - INFO - 2022-02-07 00:00:00 re-balance: 500 codes
2023-01-04 19:20:42,293 - ultron - INFO - 2022-02-08 00:00:00 re-balance: 500 codes
2023-01-04 19:20:42,551 - ultron - INFO - 2022-02-09 00:00:00 re-balance: 500 codes
2023-01-04 19:20:42,809 - ultron - INFO - 2022-02-10 00:00:00 re-balance: 500 codes
2023-01-04 19:20:43,115 - ultron - INFO - 2022-02-11 00:00:00 re-balance: 500 codes
2023-01-04 19:20:43,415 - ultron - INFO - 2022-02-14 00:00:00 re-balance: 500 codes
2023-01-04 19:20:43,705 - ultron - INFO - 2022-02-15 00:00:00 re-balance: 500 codes
2023-01-04 19:20:44,005 - ultron - INFO - 2022-02-16 00:00:00 re-balance: 500 codes
2023-01-04 19:20:44,299 - ultron - INFO - 2022-02-17 00:00:00 re-balance: 500 codes
2023-01-04 19:20:44,566 - ultron - INFO - 2022-02-18 00:00:00 re-balance: 500 codes
2023-01-04 19:20:44,817 - ultron - INFO - 2022-02-21 00:00:00 re-balance: 500 codes
2023-01-04 19:20:45,107 - ultron - INFO - 2022-02-22 00:00:00 re-balance: 500 codes
2023-01-04 19:20:45,397 - ultron - INFO - 2022-02-23 00:00:00 re-balance: 500 codes
2023-01-04 19:20:45,697 - ultron - INFO - 2022-02-24 00:00:00 re-balance: 500 codes
2023-01-04 19:20:46,010 - ultron - INFO - 2022-02-25 00:00:00 re-balance: 500 codes
2023-01-04 19:20:46,348 - ultron - INFO - 2022-02-28 00:00:00 re-balance: 500 codes
2023-01-04 19:20:46,663 - ultron - INFO - 2022-03-01 00:00:00 re-balance: 500 codes
2023-01-04 19:20:46,945 - ultron - INFO - 2022-03-02 00:00:00 re-balance: 500 codes
2023-01-04 19:20:47,215 - ultron - INFO - 2022-03-03 00:00:00 re-balance: 500 codes
2023-01-04 19:20:47,481 - ultron - INFO - 2022-03-04 00:00:00 re-balance: 500 codes
2023-01-04 19:20:47,759 - ultron - INFO - 2022-03-07 00:00:00 re-balance: 500 codes
2023-01-04 19:20:48,052 - ultron - INFO - 2022-03-08 00:00:00 re-balance: 500 codes
2023-01-04 19:20:48,344 - ultron - INFO - 2022-03-09 00:00:00 re-balance: 500 codes
2023-01-04 19:20:48,623 - ultron - INFO - 2022-03-10 00:00:00 re-balance: 500 codes
2023-01-04 19:20:48,861 - ultron - INFO - 2022-03-11 00:00:00 re-balance: 500 codes
2023-01-04 19:20:49,140 - ultron - INFO - 2022-03-14 00:00:00 re-balance: 500 codes
2023-01-04 19:20:49,431 - ultron - INFO - 2022-03-15 00:00:00 re-balance: 500 codes
2023-01-04 19:20:49,736 - ultron - INFO - 2022-03-16 00:00:00 re-balance: 500 codes
2023-01-04 19:20:49,973 - ultron - INFO - 2022-03-17 00:00:00 re-balance: 500 codes
2023-01-04 19:20:50,263 - ultron - INFO - 2022-03-18 00:00:00 re-balance: 500 codes
2023-01-04 19:20:50,545 - ultron - INFO - 2022-03-21 00:00:00 re-balance: 500 codes
2023-01-04 19:20:50,807 - ultron - INFO - 2022-03-22 00:00:00 re-balance: 500 codes
2023-01-04 19:20:51,082 - ultron - INFO - 2022-03-23 00:00:00 re-balance: 500 codes
2023-01-04 19:20:51,343 - ultron - INFO - 2022-03-24 00:00:00 re-balance: 500 codes
2023-01-04 19:20:51,616 - ultron - INFO - 2022-03-25 00:00:00 re-balance: 500 codes
2023-01-04 19:20:51,901 - ultron - INFO - 2022-03-28 00:00:00 re-balance: 500 codes
2023-01-04 19:20:52,209 - ultron - INFO - 2022-03-29 00:00:00 re-balance: 500 codes
2023-01-04 19:20:52,508 - ultron - INFO - 2022-03-30 00:00:00 re-balance: 500 codes
2023-01-04 19:20:52,822 - ultron - INFO - 2022-03-31 00:00:00 re-balance: 500 codes
2023-01-04 19:20:53,093 - ultron - INFO - 2022-04-01 00:00:00 re-balance: 500 codes
2023-01-04 19:20:53,400 - ultron - INFO - 2022-04-06 00:00:00 re-balance: 500 codes
2023-01-04 19:20:53,670 - ultron - INFO - 2022-04-07 00:00:00 re-balance: 500 codes
2023-01-04 19:20:53,918 - ultron - INFO - 2022-04-08 00:00:00 re-balance: 500 codes
2023-01-04 19:20:54,188 - ultron - INFO - 2022-04-11 00:00:00 re-balance: 500 codes
2023-01-04 19:20:54,502 - ultron - INFO - 2022-04-12 00:00:00 re-balance: 500 codes
2023-01-04 19:20:54,789 - ultron - INFO - 2022-04-13 00:00:00 re-balance: 500 codes
2023-01-04 19:20:55,051 - ultron - INFO - 2022-04-14 00:00:00 re-balance: 500 codes
2023-01-04 19:20:55,320 - ultron - INFO - 2022-04-15 00:00:00 re-balance: 500 codes
2023-01-04 19:20:55,597 - ultron - INFO - 2022-04-18 00:00:00 re-balance: 500 codes
2023-01-04 19:20:55,872 - ultron - INFO - 2022-04-19 00:00:00 re-balance: 500 codes
2023-01-04 19:20:56,121 - ultron - INFO - 2022-04-20 00:00:00 re-balance: 500 codes
2023-01-04 19:20:56,377 - ultron - INFO - 2022-04-21 00:00:00 re-balance: 500 codes
2023-01-04 19:20:56,617 - ultron - INFO - 2022-04-22 00:00:00 re-balance: 500 codes
2023-01-04 19:20:56,892 - ultron - INFO - 2022-04-25 00:00:00 re-balance: 500 codes
2023-01-04 19:20:57,157 - ultron - INFO - 2022-04-26 00:00:00 re-balance: 500 codes
2023-01-04 19:20:57,438 - ultron - INFO - 2022-04-27 00:00:00 re-balance: 500 codes
2023-01-04 19:20:57,726 - ultron - INFO - 2022-04-28 00:00:00 re-balance: 500 codes
2023-01-04 19:20:57,997 - ultron - INFO - 2022-04-29 00:00:00 re-balance: 500 codes
2023-01-04 19:20:58,252 - ultron - INFO - 2022-05-05 00:00:00 re-balance: 500 codes
2023-01-04 19:20:58,499 - ultron - INFO - 2022-05-06 00:00:00 re-balance: 500 codes
2023-01-04 19:20:58,764 - ultron - INFO - 2022-05-09 00:00:00 re-balance: 500 codes
2023-01-04 19:20:59,034 - ultron - INFO - 2022-05-10 00:00:00 re-balance: 500 codes
2023-01-04 19:20:59,302 - ultron - INFO - 2022-05-11 00:00:00 re-balance: 500 codes
2023-01-04 19:20:59,565 - ultron - INFO - 2022-05-12 00:00:00 re-balance: 500 codes
2023-01-04 19:20:59,822 - ultron - INFO - 2022-05-13 00:00:00 re-balance: 500 codes
2023-01-04 19:21:00,106 - ultron - INFO - 2022-05-16 00:00:00 re-balance: 500 codes
2023-01-04 19:21:00,416 - ultron - INFO - 2022-05-17 00:00:00 re-balance: 500 codes
2023-01-04 19:21:00,701 - ultron - INFO - 2022-05-18 00:00:00 re-balance: 500 codes
2023-01-04 19:21:01,002 - ultron - INFO - 2022-05-19 00:00:00 re-balance: 500 codes
2023-01-04 19:21:01,287 - ultron - INFO - 2022-05-20 00:00:00 re-balance: 500 codes
2023-01-04 19:21:01,582 - ultron - INFO - 2022-05-23 00:00:00 re-balance: 500 codes
2023-01-04 19:21:01,885 - ultron - INFO - 2022-05-24 00:00:00 re-balance: 500 codes
2023-01-04 19:21:02,209 - ultron - INFO - 2022-05-25 00:00:00 re-balance: 500 codes
2023-01-04 19:21:02,548 - ultron - INFO - 2022-05-26 00:00:00 re-balance: 500 codes
2023-01-04 19:21:02,881 - ultron - INFO - 2022-05-27 00:00:00 re-balance: 500 codes
2023-01-04 19:21:03,193 - ultron - INFO - 2022-05-30 00:00:00 re-balance: 500 codes
2023-01-04 19:21:03,542 - ultron - INFO - 2022-05-31 00:00:00 re-balance: 500 codes
2023-01-04 19:21:03,816 - ultron - INFO - 2022-06-01 00:00:00 re-balance: 500 codes
2023-01-04 19:21:04,098 - ultron - INFO - 2022-06-02 00:00:00 re-balance: 500 codes
2023-01-04 19:21:04,411 - ultron - INFO - 2022-06-06 00:00:00 re-balance: 500 codes
2023-01-04 19:21:04,722 - ultron - INFO - 2022-06-07 00:00:00 re-balance: 500 codes
2023-01-04 19:21:05,039 - ultron - INFO - 2022-06-08 00:00:00 re-balance: 500 codes
2023-01-04 19:21:05,338 - ultron - INFO - 2022-06-09 00:00:00 re-balance: 500 codes
2023-01-04 19:21:05,599 - ultron - INFO - 2022-06-10 00:00:00 re-balance: 500 codes
2023-01-04 19:21:05,900 - ultron - INFO - 2022-06-13 00:00:00 re-balance: 500 codes
2023-01-04 19:21:06,194 - ultron - INFO - 2022-06-14 00:00:00 re-balance: 500 codes
2023-01-04 19:21:06,458 - ultron - INFO - 2022-06-15 00:00:00 re-balance: 500 codes
2023-01-04 19:21:06,712 - ultron - INFO - 2022-06-16 00:00:00 re-balance: 500 codes
2023-01-04 19:21:07,018 - ultron - INFO - 2022-06-17 00:00:00 re-balance: 500 codes
2023-01-04 19:21:07,390 - ultron - INFO - 2022-06-20 00:00:00 re-balance: 500 codes
2023-01-04 19:21:07,672 - ultron - INFO - 2022-06-21 00:00:00 re-balance: 500 codes
2023-01-04 19:21:08,013 - ultron - INFO - 2022-06-22 00:00:00 re-balance: 500 codes
2023-01-04 19:21:08,313 - ultron - INFO - 2022-06-23 00:00:00 re-balance: 500 codes
2023-01-04 19:21:08,624 - ultron - INFO - 2022-06-24 00:00:00 re-balance: 500 codes
2023-01-04 19:21:08,887 - ultron - INFO - 2022-06-27 00:00:00 re-balance: 500 codes

2023-01-04 19:21:09,169 - ultron - INFO - 2022-06-28 00:00:00 re-balance: 500 codes
2023-01-04 19:21:09,442 - ultron - INFO - 2022-06-29 00:00:00 re-balance: 500 codes
2023-01-04 19:21:09,756 - ultron - INFO - 2022-06-30 00:00:00 re-balance: 500 codes
2023-01-04 19:21:09,998 - ultron - INFO - 2022-07-01 00:00:00 re-balance: 500 codes
2023-01-04 19:21:10,290 - ultron - INFO - 2022-07-04 00:00:00 re-balance: 500 codes
2023-01-04 19:21:10,560 - ultron - INFO - 2022-07-05 00:00:00 re-balance: 500 codes
2023-01-04 19:21:10,883 - ultron - INFO - 2022-07-06 00:00:00 re-balance: 500 codes
2023-01-04 19:21:11,193 - ultron - INFO - 2022-07-07 00:00:00 re-balance: 500 codes
2023-01-04 19:21:11,529 - ultron - INFO - 2022-07-08 00:00:00 re-balance: 500 codes
2023-01-04 19:21:11,837 - ultron - INFO - 2022-07-11 00:00:00 re-balance: 500 codes
2023-01-04 19:21:12,109 - ultron - INFO - 2022-07-12 00:00:00 re-balance: 500 codes
2023-01-04 19:21:12,425 - ultron - INFO - 2022-07-13 00:00:00 re-balance: 500 codes
2023-01-04 19:21:12,718 - ultron - INFO - 2022-07-14 00:00:00 re-balance: 500 codes
2023-01-04 19:21:12,991 - ultron - INFO - 2022-07-15 00:00:00 re-balance: 500 codes
2023-01-04 19:21:13,288 - ultron - INFO - 2022-07-18 00:00:00 re-balance: 500 codes
2023-01-04 19:21:13,547 - ultron - INFO - 2022-07-19 00:00:00 re-balance: 500 codes
2023-01-04 19:21:13,784 - ultron - INFO - 2022-07-20 00:00:00 re-balance: 500 codes
2023-01-04 19:21:14,028 - ultron - INFO - 2022-07-21 00:00:00 re-balance: 500 codes
2023-01-04 19:21:14,313 - ultron - INFO - 2022-07-22 00:00:00 re-balance: 500 codes
2023-01-04 19:21:14,598 - ultron - INFO - 2022-07-25 00:00:00 re-balance: 500 codes
2023-01-04 19:21:14,900 - ultron - INFO - 2022-07-26 00:00:00 re-balance: 500 codes
2023-01-04 19:21:15,197 - ultron - INFO - 2022-07-27 00:00:00 re-balance: 500 codes
2023-01-04 19:21:15,446 - ultron - INFO - 2022-07-28 00:00:00 re-balance: 500 codes
2023-01-04 19:21:15,735 - ultron - INFO - 2022-07-29 00:00:00 re-balance: 500 codes
2023-01-04 19:21:16,001 - ultron - INFO - 2022-08-01 00:00:00 re-balance: 500 codes
2023-01-04 19:21:16,302 - ultron - INFO - 2022-08-02 00:00:00 re-balance: 500 codes
2023-01-04 19:21:16,555 - ultron - INFO - 2022-08-03 00:00:00 re-balance: 500 codes
2023-01-04 19:21:16,825 - ultron - INFO - 2022-08-04 00:00:00 re-balance: 500 codes
2023-01-04 19:21:17,073 - ultron - INFO - 2022-08-05 00:00:00 re-balance: 500 codes
2023-01-04 19:21:17,378 - ultron - INFO - 2022-08-08 00:00:00 re-balance: 500 codes
2023-01-04 19:21:17,689 - ultron - INFO - 2022-08-09 00:00:00 re-balance: 500 codes
2023-01-04 19:21:18,001 - ultron - INFO - 2022-08-10 00:00:00 re-balance: 500 codes
2023-01-04 19:21:18,281 - ultron - INFO - 2022-08-11 00:00:00 re-balance: 500 codes
2023-01-04 19:21:18,554 - ultron - INFO - 2022-08-12 00:00:00 re-balance: 500 codes
2023-01-04 19:21:18,808 - ultron - INFO - 2022-08-15 00:00:00 re-balance: 500 codes
2023-01-04 19:21:19,053 - ultron - INFO - 2022-08-16 00:00:00 re-balance: 500 codes
2023-01-04 19:21:19,335 - ultron - INFO - 2022-08-17 00:00:00 re-balance: 500 codes
2023-01-04 19:21:19,600 - ultron - INFO - 2022-08-18 00:00:00 re-balance: 500 codes
2023-01-04 19:21:19,838 - ultron - INFO - starting backting ...
2023-01-04 19:21:19,895 - ultron - INFO - 2022-02-07 00:00:00: turn over 1.0, returns 0.0359
2023-01-04 19:21:19,910 - ultron - INFO - 2022-02-08 00:00:00: turn over 0.3979, returns -0.0021
2023-01-04 19:21:19,926 - ultron - INFO - 2022-02-09 00:00:00: turn over 0.3618, returns -0.0372
2023-01-04 19:21:19,941 - ultron - INFO - 2022-02-10 00:00:00: turn over 0.6206, returns -0.0309
2023-01-04 19:21:19,956 - ultron - INFO - 2022-02-11 00:00:00: turn over 0.0773, returns -0.0021
2023-01-04 19:21:19,970 - ultron - INFO - 2022-02-14 00:00:00: turn over 0.2621, returns 0.0133
2023-01-04 19:21:19,985 - ultron - INFO - 2022-02-15 00:00:00: turn over 0.5537, returns 0.0266
2023-01-04 19:21:19,999 - ultron - INFO - 2022-02-16 00:00:00: turn over 0.1835, returns 0.032
2023-01-04 19:21:20,013 - ultron - INFO - 2022-02-17 00:00:00: turn over 0.4828, returns 0.0112
2023-01-04 19:21:20,027 - ultron - INFO - 2022-02-18 00:00:00: turn over 0.3841, returns 0.0099
2023-01-04 19:21:20,042 - ultron - INFO - 2022-02-21 00:00:00: turn over 0.361, returns -0.0173
2023-01-04 19:21:20,056 - ultron - INFO - 2022-02-22 00:00:00: turn over 0.0322, returns 0.0234
2023-01-04 19:21:20,070 - ultron - INFO - 2022-02-23 00:00:00: turn over 0.2031, returns 0.0147
2023-01-04 19:21:20,084 - ultron - INFO - 2022-02-24 00:00:00: turn over 0.3345, returns 0.0264
2023-01-04 19:21:20,098 - ultron - INFO - 2022-02-25 00:00:00: turn over 0.6851, returns 0.0013
2023-01-04 19:21:20,112 - ultron - INFO - 2022-02-28 00:00:00: turn over 0.2997, returns -0.0122
2023-01-04 19:21:20,126 - ultron - INFO - 2022-03-01 00:00:00: turn over 0.2695, returns -0.0127
2023-01-04 19:21:20,140 - ultron - INFO - 2022-03-02 00:00:00: turn over 0.9703, returns -0.0394
2023-01-04 19:21:20,155 - ultron - INFO - 2022-03-03 00:00:00: turn over 0.2553, returns -0.0601
2023-01-04 19:21:20,169 - ultron - INFO - 2022-03-04 00:00:00: turn over 0.1839, returns -0.059
2023-01-04 19:21:20,180 - ultron - INFO - 2022-03-07 00:00:00: turn over 0.0598, returns -0.0107
2023-01-04 19:21:20,196 - ultron - INFO - 2022-03-08 00:00:00: turn over 0.4247, returns 0.0081
2023-01-04 19:21:20,212 - ultron - INFO - 2022-03-09 00:00:00: turn over 0.4683, returns -0.0075
2023-01-04 19:21:20,227 - ultron - INFO - 2022-03-10 00:00:00: turn over 0.4241, returns -0.0672
2023-01-04 19:21:20,243 - ultron - INFO - 2022-03-11 00:00:00: turn over 0.5417, returns -0.0416
2023-01-04 19:21:20,258 - ultron - INFO - 2022-03-14 00:00:00: turn over 0.0849, returns 0.0127
2023-01-04 19:21:20,274 - ultron - INFO - 2022-03-15 00:00:00: turn over 0.604, returns 0.0733
2023-01-04 19:21:20,290 - ultron - INFO - 2022-03-16 00:00:00: turn over 0.1293, returns 0.0377
2023-01-04 19:21:20,306 - ultron - INFO - 2022-03-17 00:00:00: turn over 0.2757, returns 0.0091
2023-01-04 19:21:20,321 - ultron - INFO - 2022-03-18 00:00:00: turn over 0.3248, returns 0.0104
2023-01-04 19:21:20,337 - ultron - INFO - 2022-03-21 00:00:00: turn over 0.3745, returns -0.008
2023-01-04 19:21:20,352 - ultron - INFO - 2022-03-22 00:00:00: turn over 0.0321, returns -0.0209
2023-01-04 19:21:20,367 - ultron - INFO - 2022-03-23 00:00:00: turn over 0.3912, returns -0.0221
2023-01-04 19:21:20,383 - ultron - INFO - 2022-03-24 00:00:00: turn over 0.0956, returns -0.0154
2023-01-04 19:21:20,399 - ultron - INFO - 2022-03-25 00:00:00: turn over 0.1226, returns 0.0174
2023-01-04 19:21:20,414 - ultron - INFO - 2022-03-28 00:00:00: turn over 0.2262, returns -0.0042
2023-01-04 19:21:20,429 - ultron - INFO - 2022-03-29 00:00:00: turn over 0.2616, returns 0.0119
2023-01-04 19:21:20,445 - ultron - INFO - 2022-03-30 00:00:00: turn over 0.5191, returns 0.0033
2023-01-04 19:21:20,460 - ultron - INFO - 2022-03-31 00:00:00: turn over 0.5303, returns -0.0146
2023-01-04 19:21:20,475 - ultron - INFO - 2022-04-01 00:00:00: turn over 0.2642, returns -0.0259
2023-01-04 19:21:20,490 - ultron - INFO - 2022-04-06 00:00:00: turn over 0.54, returns -0.0596
2023-01-04 19:21:20,504 - ultron - INFO - 2022-04-07 00:00:00: turn over 0.1466, returns -0.0295
2023-01-04 19:21:20,518 - ultron - INFO - 2022-04-08 00:00:00: turn over 0.4683, returns -0.0548
2023-01-04 19:21:20,532 - ultron - INFO - 2022-04-11 00:00:00: turn over 0.2956, returns -0.0112
2023-01-04 19:21:20,546 - ultron - INFO - 2022-04-12 00:00:00: turn over 0.6223, returns -0.0229
2023-01-04 19:21:20,560 - ultron - INFO - 2022-04-13 00:00:00: turn over 0.3619, returns 0.0116
2023-01-04 19:21:20,574 - ultron - INFO - 2022-04-14 00:00:00: turn over 0.0614, returns 0.0012
2023-01-04 19:21:20,588 - ultron - INFO - 2022-04-15 00:00:00: turn over 0.23, returns -0.0107
2023-01-04 19:21:20,602 - ultron - INFO - 2022-04-18 00:00:00: turn over 0.16, returns -0.0528
2023-01-04 19:21:20,616 - ultron - INFO - 2022-04-19 00:00:00: turn over 0.2148, returns -0.0634
2023-01-04 19:21:20,629 - ultron - INFO - 2022-04-20 00:00:00: turn over 0.1568, returns -0.1142
2023-01-04 19:21:20,643 - ultron - INFO - 2022-04-21 00:00:00: turn over 0.1646, returns -0.1145

2023-01-04 19:21:20,657 - ultron - INFO - 2022-04-22 00:00:00: turn over 0.6469, returns -0.0446
2023-01-04 19:21:20,671 - ultron - INFO - 2022-04-25 00:00:00: turn over 0.6198, returns 0.0049
2023-01-04 19:21:20,685 - ultron - INFO - 2022-04-26 00:00:00: turn over 0.256, returns 0.0866
2023-01-04 19:21:20,699 - ultron - INFO - 2022-04-27 00:00:00: turn over 0.4232, returns 0.0342
2023-01-04 19:21:20,713 - ultron - INFO - 2022-04-28 00:00:00: turn over 0.3135, returns 0.0422
2023-01-04 19:21:20,727 - ultron - INFO - 2022-04-29 00:00:00: turn over 0.199, returns 0.0022
2023-01-04 19:21:20,741 - ultron - INFO - 2022-05-05 00:00:00: turn over 0.2575, returns -0.0002
2023-01-04 19:21:20,756 - ultron - INFO - 2022-05-06 00:00:00: turn over 0.221, returns 0.0314
2023-01-04 19:21:20,772 - ultron - INFO - 2022-05-09 00:00:00: turn over 0.0701, returns 0.0215
2023-01-04 19:21:20,787 - ultron - INFO - 2022-05-10 00:00:00: turn over 0.1935, returns 0.0167
2023-01-04 19:21:20,801 - ultron - INFO - 2022-05-11 00:00:00: turn over 0.0689, returns 0.0042
2023-01-04 19:21:20,815 - ultron - INFO - 2022-05-12 00:00:00: turn over 0.3169, returns 0.001
2023-01-04 19:21:20,828 - ultron - INFO - 2022-05-13 00:00:00: turn over 0.0776, returns -0.0038
2023-01-04 19:21:20,843 - ultron - INFO - 2022-05-16 00:00:00: turn over 0.5074, returns 0.0029
2023-01-04 19:21:20,857 - ultron - INFO - 2022-05-17 00:00:00: turn over 0.3719, returns 0.0293
2023-01-04 19:21:20,871 - ultron - INFO - 2022-05-18 00:00:00: turn over 0.3736, returns 0.0264
2023-01-04 19:21:20,885 - ultron - INFO - 2022-05-19 00:00:00: turn over 0.3279, returns -0.032
2023-01-04 19:21:20,899 - ultron - INFO - 2022-05-20 00:00:00: turn over 0.4183, returns -0.0119
2023-01-04 19:21:20,914 - ultron - INFO - 2022-05-23 00:00:00: turn over 0.474, returns -0.009
2023-01-04 19:21:20,928 - ultron - INFO - 2022-05-24 00:00:00: turn over 0.3426, returns 0.031
2023-01-04 19:21:20,942 - ultron - INFO - 2022-05-25 00:00:00: turn over 0.5337, returns 0.0244
2023-01-04 19:21:20,956 - ultron - INFO - 2022-05-26 00:00:00: turn over 0.2856, returns 0.0228
2023-01-04 19:21:20,970 - ultron - INFO - 2022-05-27 00:00:00: turn over 0.2736, returns 0.0246
2023-01-04 19:21:20,984 - ultron - INFO - 2022-05-30 00:00:00: turn over 0.1585, returns 0.0343
2023-01-04 19:21:20,998 - ultron - INFO - 2022-05-31 00:00:00: turn over 0.6975, returns 0.0362
2023-01-04 19:21:21,012 - ultron - INFO - 2022-06-01 00:00:00: turn over 0.2703, returns 0.0277
2023-01-04 19:21:21,026 - ultron - INFO - 2022-06-02 00:00:00: turn over 0.4004, returns 0.007
2023-01-04 19:21:21,041 - ultron - INFO - 2022-06-06 00:00:00: turn over 0.0386, returns -0.0188
2023-01-04 19:21:21,055 - ultron - INFO - 2022-06-07 00:00:00: turn over 0.1904, returns -0.0012
2023-01-04 19:21:21,068 - ultron - INFO - 2022-06-08 00:00:00: turn over 0.0574, returns -0.0039
2023-01-04 19:21:21,083 - ultron - INFO - 2022-06-09 00:00:00: turn over 0.6608, returns 0.0098
2023-01-04 19:21:21,098 - ultron - INFO - 2022-06-10 00:00:00: turn over 0.1451, returns -0.0109
2023-01-04 19:21:21,114 - ultron - INFO - 2022-06-13 00:00:00: turn over 0.3009, returns 0.0071
2023-01-04 19:21:21,130 - ultron - INFO - 2022-06-14 00:00:00: turn over 0.3888, returns 0.0217
2023-01-04 19:21:21,144 - ultron - INFO - 2022-06-15 00:00:00: turn over 0.3889, returns 0.0565
2023-01-04 19:21:21,159 - ultron - INFO - 2022-06-16 00:00:00: turn over 0.6522, returns 0.017
2023-01-04 19:21:21,173 - ultron - INFO - 2022-06-17 00:00:00: turn over 0.4814, returns -0.0104
2023-01-04 19:21:21,188 - ultron - INFO - 2022-06-20 00:00:00: turn over 0.3799, returns 0.0073
2023-01-04 19:21:21,203 - ultron - INFO - 2022-06-21 00:00:00: turn over 0.0, returns 0.0183
2023-01-04 19:21:21,218 - ultron - INFO - 2022-06-22 00:00:00: turn over 0.2909, returns 0.0448
2023-01-04 19:21:21,233 - ultron - INFO - 2022-06-23 00:00:00: turn over 0.1338, returns 0.029
2023-01-04 19:21:21,248 - ultron - INFO - 2022-06-24 00:00:00: turn over 0.0, returns 0.0124
2023-01-04 19:21:21,262 - ultron - INFO - 2022-06-27 00:00:00: turn over 0.5385, returns 0.0162
2023-01-04 19:21:21,277 - ultron - INFO - 2022-06-28 00:00:00: turn over 0.4286, returns -0.0189
2023-01-04 19:21:21,292 - ultron - INFO - 2022-06-29 00:00:00: turn over 0.1894, returns 0.0073
2023-01-04 19:21:21,320 - ultron - INFO - 2022-06-30 00:00:00: turn over 0.395, returns 0.0106
2023-01-04 19:21:21,334 - ultron - INFO - 2022-07-01 00:00:00: turn over 0.419, returns -0.0066
2023-01-04 19:21:21,348 - ultron - INFO - 2022-07-04 00:00:00: turn over 0.1826, returns -0.0121
2023-01-04 19:21:21,363 - ultron - INFO - 2022-07-05 00:00:00: turn over 0.1934, returns -0.0165
2023-01-04 19:21:21,377 - ultron - INFO - 2022-07-06 00:00:00: turn over 0.3441, returns -0.0113
2023-01-04 19:21:21,391 - ultron - INFO - 2022-07-07 00:00:00: turn over 0.8387, returns -0.0365
2023-01-04 19:21:21,405 - ultron - INFO - 2022-07-08 00:00:00: turn over 0.5998, returns -0.0248
2023-01-04 19:21:21,420 - ultron - INFO - 2022-07-11 00:00:00: turn over 0.195, returns -0.0096
2023-01-04 19:21:21,434 - ultron - INFO - 2022-07-12 00:00:00: turn over 0.2503, returns -0.0181
2023-01-04 19:21:21,448 - ultron - INFO - 2022-07-13 00:00:00: turn over 0.4088, returns 0.0101
2023-01-04 19:21:21,462 - ultron - INFO - 2022-07-14 00:00:00: turn over 0.1518, returns 0.0107
2023-01-04 19:21:21,477 - ultron - INFO - 2022-07-15 00:00:00: turn over 0.387, returns 0.0324
2023-01-04 19:21:21,491 - ultron - INFO - 2022-07-18 00:00:00: turn over 0.1239, returns 0.0185
2023-01-04 19:21:21,504 - ultron - INFO - 2022-07-19 00:00:00: turn over 0.3373, returns 0.003
2023-01-04 19:21:21,520 - ultron - INFO - 2022-07-20 00:00:00: turn over 0.2398, returns -0.0139
2023-01-04 19:21:21,535 - ultron - INFO - 2022-07-21 00:00:00: turn over 0.1801, returns 0.0056
2023-01-04 19:21:21,551 - ultron - INFO - 2022-07-22 00:00:00: turn over 0.3093, returns 0.0107
2023-01-04 19:21:21,566 - ultron - INFO - 2022-07-25 00:00:00: turn over 0.1499, returns 0.0225
2023-01-04 19:21:21,581 - ultron - INFO - 2022-07-26 00:00:00: turn over 0.1927, returns -0.0123
2023-01-04 19:21:21,597 - ultron - INFO - 2022-07-27 00:00:00: turn over 0.2273, returns -0.005
2023-01-04 19:21:21,612 - ultron - INFO - 2022-07-28 00:00:00: turn over 0.3343, returns -0.0368
2023-01-04 19:21:21,628 - ultron - INFO - 2022-07-29 00:00:00: turn over 0.5677, returns -0.0254
2023-01-04 19:21:21,644 - ultron - INFO - 2022-08-01 00:00:00: turn over 0.4312, returns -0.0275
2023-01-04 19:21:21,659 - ultron - INFO - 2022-08-02 00:00:00: turn over 0.4765, returns 0.0208
2023-01-04 19:21:21,675 - ultron - INFO - 2022-08-03 00:00:00: turn over 0.4359, returns 0.0331
2023-01-04 19:21:21,687 - ultron - INFO - 2022-08-04 00:00:00: turn over 0.4148, returns 0.0357
2023-01-04 19:21:21,702 - ultron - INFO - 2022-08-05 00:00:00: turn over 0.0529, returns 0.0145
2023-01-04 19:21:21,717 - ultron - INFO - 2022-08-08 00:00:00: turn over 0.2101, returns 0.0162
2023-01-04 19:21:21,733 - ultron - INFO - 2022-08-09 00:00:00: turn over 0.2055, returns 0.0007
2023-01-04 19:21:21,749 - ultron - INFO - 2022-08-10 00:00:00: turn over 0.1183, returns 0.0155
2023-01-04 19:21:21,764 - ultron - INFO - 2022-08-11 00:00:00: turn over 0.4321, returns 0.0079
2023-01-04 19:21:21,779 - ultron - INFO - 2022-08-12 00:00:00: turn over 0.131, returns 0.0069
2023-01-04 19:21:21,793 - ultron - INFO - 2022-08-15 00:00:00: turn over 0.171, returns -0.0085
2023-01-04 19:21:21,807 - ultron - INFO - 2022-08-16 00:00:00: turn over 0.1788, returns -0.0296
2023-01-04 19:21:21,821 - ultron - INFO - 2022-08-17 00:00:00: turn over 0.8009, returns -0.0127
2023-01-04 19:21:21,836 - ultron - INFO - 2022-08-18 00:00:00: turn over 0.2852, returns -0.0178

In [27]:
positions

           weight  industry        er    code trade_date  benchmark
0    6.620000e-03   1030328  0.682007  000009 2022-02-07    0.00526
1   -9.318826e-14   1030306 -0.162429  000012 2022-02-07    0.00194
2   -2.584963e-13   1030312  0.152919  000021 2022-02-07    0.00198
3    6.642633e-13   1030318  0.698328  000027 2022-02-07    0.00210
4   -5.294797e-13   1030317 -1.448873  000028 2022-02-07    0.00078
..            ...       ...       ...     ...        ...        ...
495 -1.556351e-14   1030308  0.129757  688390 2022-08-18    0.00329
496  5.826000e-02   1030312  3.031530  688521 2022-08-18    0.00179
497 -4.201414e-14   1030308 -0.558946  688777 2022-08-18    0.00370
498 -1.934867e-14   1030308  0.090980  688819 2022-08-18    0.00082
499 -3.819601e-14   1030311  0.286425  689009 2022-08-18    0.00276

[66500 rows x 6 columns]

In [28]:
pd.DataFrame(metrics)

,annual_return,annual_volatility,cagr,sharpe_ratio,downside_risk,max_drawdown,calmar_ratio,turnover,name
0,-0.356788,0.483952,-0.356788,-0.665350,0.385954,-0.583981,-0.610959,0.325056,returns
1,-0.107394,0.248298,-0.107394,-0.332752,0.198234,-0.247069,-0.434671,NaN,benchmark_returns
2,-0.280363,0.420175,-0.280363,-0.569759,0.332505,-0.477083,-0.587659,NaN,excess_return